In [ ]:
from hana_ml import dataframe


connection_context = dataframe.ConnectionContext(userkey="RaysKey")

In [2]:
from gen_ai_hub.proxy.core.proxy_clients import set_proxy_version
from gen_ai_hub.proxy.langchain import init_llm
#use btp proxy llm

llm = init_llm('gpt-4', temperature=0.0, max_tokens=512)

In [3]:

from hana_ai.agents.hana_sql_agent import create_hana_sql_agent
from hana_ai.tools.code_template_tools import GetCodeTemplateFromVectorDB
from hana_ai.vectorstore.code_templates import get_code_templates
from hana_ai.vectorstore.hana_vector_engine import HANAMLinVectorEngine

hana_vec = HANAMLinVectorEngine(connection_context, "hana_vec_hana_ml_sql_knowledge")
hana_vec.create_knowledge(option='sql')


code_tool = GetCodeTemplateFromVectorDB()
code_tool.set_vectordb(hana_vec)
agent_executor = create_hana_sql_agent(llm, connection_context, tools=[code_tool],verbose=True)

100%|██████████| 1/1 [00:23<00:00, 23.36s/it]
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'vector_col'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'embedding'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'vector_col_text'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'embeddings'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'x'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'Vector'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'value'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'vector'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'emb'
  util.warn(
c:\Users\I308290\AppData\Local\miniconda3\Lib\site-packages\sqlalchemy_hana\dialect.py:889: SAWarning: Did not recognize type 'REAL_VECTOR' of column 'score_vector'
  util.warn(

In [4]:
connection_context.table("hana_vec_hana_ml_sql_knowledge").head(5).collect()

,id,description,example,embeddings
0,abc-analysis-d92aa78-checkpoint,ABC Analysis is an algorithm used to classify ...,\n\nSET SCHEMA DM_PAL;\n\nDROP TABLE PAL_ABC_D...,"[-0.003856353461742401, 0.04601384326815605, 0..."
1,abc-analysis-d92aa78,ABC Analysis is an algorithm used to classify ...,\n\nSET SCHEMA DM_PAL;\n\nDROP TABLE PAL_ABC_D...,"[-0.003856353461742401, 0.04601384326815605, 0..."
2,accelerated-k-means-5a3e282-checkpoint,Accelerated k-means is a variant of the k-mean...,\n\nSET SCHEMA DM_PAL;\n\nDROP TABLE PAL_ACCKM...,"[-0.03080141358077526, -0.02564401924610138, 0..."
3,accelerated-k-means-5a3e282,Accelerated k-means is a variant of the k-mean...,\n\nSET SCHEMA DM_PAL;\n\nDROP TABLE PAL_ACCKM...,"[-0.031555213034152985, -0.024636246263980865,..."
4,additive-model-time-series-analysis-7e78d06,"Additive model time series analysis, also know...",\n\nSET SCHEMA DM_PAL;\n\nDROP TABLE PAL_MASSI...,"[-0.015278245322406292, 0.0105646513402462, -0..."

In [5]:
agent_executor.invoke(
    "Show me all the table names"
)

> Entering new SQL Agent Executor chain...
I need to list all the tables in the database.
Action: sql_db_list_tables
Action Input: ""11111111arima_model_88_predicted_results, CHUNKING_de_1000_0, CHUNKING_de_2000_0, CHUNKING_de_2000_0_5, CHUNKING_de_3000_0, CHUNKING_de_3000_0_5, CHUNKING_de_6000_0, CHUNKING_de_6000_0_5, CHUNKING_de_90000_0, CHUNKING_de_9000_0, CHUNKING_de_9000_0_5, CHUNKING_de_9000_20, CHUNKING_en_1000_0, CHUNKING_en_1000_20, CHUNKING_en_2000_0, CHUNKING_en_3000_0, CHUNKING_en_4000_20, CHUNKING_en_60000_0, CHUNKING_en_6000_0, CHUNKING_en_9000_0, CHUNKING_hi_90000_0, CHUNKING_ja_1000_0, CHUNKING_ja_1000_0_new, CHUNKING_ja_2000_0, CHUNKING_ja_2000_0_new, CHUNKING_ja_3000_0, CHUNKING_ja_3000_0_new, CHUNKING_ja_6000_0, CHUNKING_ja_6000_0_new, CHUNKING_ja_90000_0, CHUNKING_ja_9000_0, CHUNKING_ja_9000_0_new, CHUNKING_ru_6000_0, CHUNKING_th_6000_0, CHUNKING_zh_100000_0, CHUNKING_zh_1000_0, CHUNKING_zh_1000_0_new, CHUNKING_zh_2000_0, CHUNKING_zh_2000_0_new, CHUNKING_zh_3000_0, CHUNKING_zh_3000_0_new, CHUNKING_zh_60000_0, CHUNKING_zh_6000_0, CHUNKING_zh_6000_0_new, CHUNKING_zh_9000_0, CHUNKING_zh_9000_0_new, GARCH_TEST_MODEL_None_PREDICT_RESULT, HANAML_MY_AUTOML_MODEL_None_MODELS_0, HANAML_MY_AUTOML_MODEL_None_MODELS_1, Query_TBL, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_STATS_RESULT, accuracy_measure_sim_data_tbl, amf_model_1_predicted_result, amf_test, amf_train, ar_DATA_TBL, autoarima_model_1_predicted_results, automl_model_1_predicted_results, automl_model_1_scored_results, bcpd_sim_data_tbl, bcpd_sim_data_tbl_bcpd_decomposed, boston_housing_prices, bsts_model_88_decomposed_and_reason_code, bsts_model_88_fit_decompose_tbl, changepoint_sim_data_tbl_bcpd_decomposed, chat_history, chunked_corpus, chunked_tbl, corpus, correlation_sim_data_tbl_correlation_result, data_uni_massive_class_tbl_notebook, de_DATA_TBL, de_DATA_TBL_1, demo_vector_table, dtw_query_sim_data_tbl, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_alignment, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_result, dtw_ref_sim_data_tbl, dtw_sim_query_data_tbl_dtw_sim_ref_data_tbl_dtw_alignment, dtw_sim_query_data_tbldtw_sim_ref_data_tbl_dtw_alignment, dummy_table, emb_tbl_text, embedding_parameter_tbl, en_DATA_TBL, en_DATA_TBL_100, en_DATA_TBL_1000, en_DATA_TBL_10000, es_DATA_TBL, example_data_dr_reg, facts, fr_DATA_TBL, fr_data_tbl_category, garch_test_model_1_predict_result, hana_ai_cap_artifacts_knowledge_base, hana_ai_database_knowledge_base, hana_ai_prediction_knowledge_base, hana_ai_result_analysis_knowledge_base, hana_ai_scoring_knowledge_base, hana_ai_sql_knowledge_base, hana_ai_training_knowledge_base, hana_ai_ts_model_suggest_knowledge_base, hana_ml_docs, hana_ml_docs_splitted, hana_ml_docs_vec, hana_vec_hana_ml_knowledge, hana_vec_hana_ml_sql_knowledge, hanaml_11111111arima_model_88_models, hanaml_amf_model_1_models_0, hanaml_amf_model_1_models_1, hanaml_autoarima_model_1_models, hanaml_automl_model_2_models_0, hanaml_automl_model_2_models_1, hanaml_garch_simdata_model_1_models, hanaml_garch_test_model_1_models, hanaml_hanai_model_1_models, hanaml_model_storage, hanaml_my_automl_model_1_models_0, hanaml_my_automl_model_1_models_1, hanaml_my_automl_model_2_models_0, hanaml_my_automl_model_2_models_1, hanaml_my_automl_model_3_models_0, hanaml_my_automl_model_3_models_1, hanaml_my_automl_model_4_models_0, hanaml_my_automl_model_4_models_1, hanaml_my_automl_model_5_models_0, hanaml_my_automl_model_5_models_1, hanaml_my_automl_model_6_models_0, hanaml_my_automl_model_6_models_1, hanaml_my_model_1_models_0, hanaml_my_model_1_models_1, hanaml_mymodel_1_models_0, hanaml_mymodel_1_models_1, hdbscan_data, hi_DATA_TBL, intermittent_ts, iris_data_full_tbl, it_DATA_TBL, ja_DATA_TBL, keywords_tbl, ko_DATA_TBL, mldk_de_bm25_data, mldk_query_bm25_data_1, mldk_query_data_1, mldk_query_data_2, mldk_query_fr_data_1, my_embeddings, my_model, my_model_1_PREDICTED_RESULTS, my_model_1_predicted_results, my_model_1_predicted_results_0, my_model_1_predicted_results_1, my_model_1_statistics, my_model_ts, news_query_data, pal_ann_data_test_tab, pal_ann_model_create_result_tbl, pal_ann_model_create_result_tbl1, pal_ann_model_delete_tbl, pal_ann_model_list_tbl, pal_ann_parameter_tbl, pal_ann_parameter_tbl1, pal_ann_pred_parameter_tbl, pal_ann_pred_parameter_tbl1, pal_ann_res, pal_ann_res1, pal_ann_res_g100_n20, pal_ann_res_new, pal_anns_sampling_tbl, pal_brownsmooth_data_tbl_brown_es_forecast_result, pal_cmatrix_tbl, pal_covid_data_tbl, pal_croston_data_tbl_croston_forecast_result, pal_croston_data_tbl_croston_tsb_forecast_result, pal_croston_data_tbl_lr_seasonal_adjust_forecast_result, pal_data_tbl, pal_doublesmooth_data_tbl_des_forecast_result, pal_dt_data, pal_dt_data_tbl, pal_dt_model_tbl, pal_embedding_demo, pal_forecasttriplesmoothing_data_tbl, pal_imp_tbl, pal_knn_res, pal_metrics_tbl, pal_model_rdt_tbl, pal_parameter_tab, pal_parameter_tbl, pal_partition_tbl, pal_pred_tab, pal_pred_tab1, pal_sample_embedding_vec_data_tab, pal_sample_embedding_vec_data_tab1, pal_singlesmooth_data_tbl_ses_forecast_result, pal_stat_tbl, pal_state_tbl, pal_text_emb_parameter_tbl, pal_text_emb_vec_result_tbl, pal_text_emb_vec_stat_tbl, pal_text_emb_vec_stat_tbl1, pal_tfidf_data_tab, pal_triplesmoothing_data_tbl_auto_es_forecast_result, pal_triplesmoothing_data_tbl_tes_forecast_result, pal_vec_data_tab_all, pima_indians_diabetes_tbl, pt_DATA_TBL, ru_DATA_TBL, sample_text_tab, sample_text_tab1, sap_1000_20, sap_100_20, sap_2000_20, sap_200_20, sap_3000_20, sap_300_20, sap_400_20, sap_500_20, sap_50_20, sap_600_20, sap_700_20, second_hana_vec_hana_ml_knowledge, shampoo_predict, shampoo_predict_result_tbl, shampoo_sales_data_tbl, shampoo_sales_data_tbl_id, shampoo_sales_predict_data_tbl, tab, text_splitter_data, text_tbl, th_DATA_TBL, titanic_full_tbl, vecpca_fit_scores_tbl_e1481784_9daa_11ef_9493_463500000031, vecpca_project_score_tbl_55ece27c_9dac_11ef_960c_463500000031, zh_DATA_TBL, zh_DATA_TBL_1I now know the final answer
Final Answer: The table names are: 11111111arima_model_88_predicted_results, CHUNKING_de_1000_0, CHUNKING_de_2000_0, CHUNKING_de_2000_0_5, CHUNKING_de_3000_0, CHUNKING_de_3000_0_5, CHUNKING_de_6000_0, CHUNKING_de_6000_0_5, CHUNKING_de_90000_0, CHUNKING_de_9000_0, CHUNKING_de_9000_0_5, CHUNKING_de_9000_20, CHUNKING_en_1000_0, CHUNKING_en_1000_20, CHUNKING_en_2000_0, CHUNKING_en_3000_0, CHUNKING_en_4000_20, CHUNKING_en_60000_0, CHUNKING_en_6000_0, CHUNKING_en_9000_0, CHUNKING_hi_90000_0, CHUNKING_ja_1000_0, CHUNKING_ja_1000_0_new, CHUNKING_ja_2000_0, CHUNKING_ja_2000_0_new, CHUNKING_ja_3000_0, CHUNKING_ja_3000_0_new, CHUNKING_ja_6000_0, CHUNKING_ja_6000_0_new, CHUNKING_ja_90000_0, CHUNKING_ja_9000_0, CHUNKING_ja_9000_0_new, CHUNKING_ru_6000_0, CHUNKING_th_6000_0, CHUNKING_zh_100000_0, CHUNKING_zh_1000_0, CHUNKING_zh_1000_0_new, CHUNKING_zh_2000_0, CHUNKING_zh_2000_0_new, CHUNKING_zh_3000_0, CHUNKING_zh_3000_0_new, CHUNKING_zh_60000_0, CHUNKING_zh_6000_0, CHUNKING_zh_6000_0_new, CHUNKING_zh_9000_0, CHUNKING_zh_9000_0_new, GARCH_TEST_MODEL_None_PREDICT_RESULT, HANAML_MY_AUTOML_MODEL_None_MODELS_0, HANAML_MY_AUTOML_MODEL_None_MODELS_1, Query_TBL

> Finished chain.

{'input': 'Show me all the table names',
 'output': 'The table names are: 11111111arima_model_88_predicted_results, CHUNKING_de_1000_0, CHUNKING_de_2000_0, CHUNKING_de_2000_0_5, CHUNKING_de_3000_0, CHUNKING_de_3000_0_5, CHUNKING_de_6000_0, CHUNKING_de_6000_0_5, CHUNKING_de_90000_0, CHUNKING_de_9000_0, CHUNKING_de_9000_0_5, CHUNKING_de_9000_20, CHUNKING_en_1000_0, CHUNKING_en_1000_20, CHUNKING_en_2000_0, CHUNKING_en_3000_0, CHUNKING_en_4000_20, CHUNKING_en_60000_0, CHUNKING_en_6000_0, CHUNKING_en_9000_0, CHUNKING_hi_90000_0, CHUNKING_ja_1000_0, CHUNKING_ja_1000_0_new, CHUNKING_ja_2000_0, CHUNKING_ja_2000_0_new, CHUNKING_ja_3000_0, CHUNKING_ja_3000_0_new, CHUNKING_ja_6000_0, CHUNKING_ja_6000_0_new, CHUNKING_ja_90000_0, CHUNKING_ja_9000_0, CHUNKING_ja_9000_0_new, CHUNKING_ru_6000_0, CHUNKING_th_6000_0, CHUNKING_zh_100000_0, CHUNKING_zh_1000_0, CHUNKING_zh_1000_0_new, CHUNKING_zh_2000_0, CHUNKING_zh_2000_0_new, CHUNKING_zh_3000_0, CHUNKING_zh_3000_0_new, CHUNKING_zh_60000_0, CHUNKING_zh_6000_0, CHUNKING_zh_6000_0_new, CHUNKING_zh_9000_0, CHUNKING_zh_9000_0_new, GARCH_TEST_MODEL_None_PREDICT_RESULT, HANAML_MY_AUTOML_MODEL_None_MODELS_0, HANAML_MY_AUTOML_MODEL_None_MODELS_1, Query_TBL'}

In [6]:
agent_executor.invoke(
    "show me the column names in the table related to iris"
)

> Entering new SQL Agent Executor chain...
First, I need to check if there is a table related to iris in the database.
Action: sql_db_list_tables
Action Input: ""11111111arima_model_88_predicted_results, CHUNKING_de_1000_0, CHUNKING_de_2000_0, CHUNKING_de_2000_0_5, CHUNKING_de_3000_0, CHUNKING_de_3000_0_5, CHUNKING_de_6000_0, CHUNKING_de_6000_0_5, CHUNKING_de_90000_0, CHUNKING_de_9000_0, CHUNKING_de_9000_0_5, CHUNKING_de_9000_20, CHUNKING_en_1000_0, CHUNKING_en_1000_20, CHUNKING_en_2000_0, CHUNKING_en_3000_0, CHUNKING_en_4000_20, CHUNKING_en_60000_0, CHUNKING_en_6000_0, CHUNKING_en_9000_0, CHUNKING_hi_90000_0, CHUNKING_ja_1000_0, CHUNKING_ja_1000_0_new, CHUNKING_ja_2000_0, CHUNKING_ja_2000_0_new, CHUNKING_ja_3000_0, CHUNKING_ja_3000_0_new, CHUNKING_ja_6000_0, CHUNKING_ja_6000_0_new, CHUNKING_ja_90000_0, CHUNKING_ja_9000_0, CHUNKING_ja_9000_0_new, CHUNKING_ru_6000_0, CHUNKING_th_6000_0, CHUNKING_zh_100000_0, CHUNKING_zh_1000_0, CHUNKING_zh_1000_0_new, CHUNKING_zh_2000_0, CHUNKING_zh_2000_0_new, CHUNKING_zh_3000_0, CHUNKING_zh_3000_0_new, CHUNKING_zh_60000_0, CHUNKING_zh_6000_0, CHUNKING_zh_6000_0_new, CHUNKING_zh_9000_0, CHUNKING_zh_9000_0_new, GARCH_TEST_MODEL_None_PREDICT_RESULT, HANAML_MY_AUTOML_MODEL_None_MODELS_0, HANAML_MY_AUTOML_MODEL_None_MODELS_1, Query_TBL, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_STATS_RESULT, accuracy_measure_sim_data_tbl, amf_model_1_predicted_result, amf_test, amf_train, ar_DATA_TBL, autoarima_model_1_predicted_results, automl_model_1_predicted_results, automl_model_1_scored_results, bcpd_sim_data_tbl, bcpd_sim_data_tbl_bcpd_decomposed, boston_housing_prices, bsts_model_88_decomposed_and_reason_code, bsts_model_88_fit_decompose_tbl, changepoint_sim_data_tbl_bcpd_decomposed, chat_history, chunked_corpus, chunked_tbl, corpus, correlation_sim_data_tbl_correlation_result, data_uni_massive_class_tbl_notebook, de_DATA_TBL, de_DATA_TBL_1, demo_vector_table, dtw_query_sim_data_tbl, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_alignment, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_result, dtw_ref_sim_data_tbl, dtw_sim_query_data_tbl_dtw_sim_ref_data_tbl_dtw_alignment, dtw_sim_query_data_tbldtw_sim_ref_data_tbl_dtw_alignment, dummy_table, emb_tbl_text, embedding_parameter_tbl, en_DATA_TBL, en_DATA_TBL_100, en_DATA_TBL_1000, en_DATA_TBL_10000, es_DATA_TBL, example_data_dr_reg, facts, fr_DATA_TBL, fr_data_tbl_category, garch_test_model_1_predict_result, hana_ai_cap_artifacts_knowledge_base, hana_ai_database_knowledge_base, hana_ai_prediction_knowledge_base, hana_ai_result_analysis_knowledge_base, hana_ai_scoring_knowledge_base, hana_ai_sql_knowledge_base, hana_ai_training_knowledge_base, hana_ai_ts_model_suggest_knowledge_base, hana_ml_docs, hana_ml_docs_splitted, hana_ml_docs_vec, hana_vec_hana_ml_knowledge, hana_vec_hana_ml_sql_knowledge, hanaml_11111111arima_model_88_models, hanaml_amf_model_1_models_0, hanaml_amf_model_1_models_1, hanaml_autoarima_model_1_models, hanaml_automl_model_2_models_0, hanaml_automl_model_2_models_1, hanaml_garch_simdata_model_1_models, hanaml_garch_test_model_1_models, hanaml_hanai_model_1_models, hanaml_model_storage, hanaml_my_automl_model_1_models_0, hanaml_my_automl_model_1_models_1, hanaml_my_automl_model_2_models_0, hanaml_my_automl_model_2_models_1, hanaml_my_automl_model_3_models_0, hanaml_my_automl_model_3_models_1, hanaml_my_automl_model_4_models_0, hanaml_my_automl_model_4_models_1, hanaml_my_automl_model_5_models_0, hanaml_my_automl_model_5_models_1, hanaml_my_automl_model_6_models_0, hanaml_my_automl_model_6_models_1, hanaml_my_model_1_models_0, hanaml_my_model_1_models_1, hanaml_mymodel_1_models_0, hanaml_mymodel_1_models_1, hdbscan_data, hi_DATA_TBL, intermittent_ts, iris_data_full_tbl, it_DATA_TBL, ja_DATA_TBL, keywords_tbl, ko_DATA_TBL, mldk_de_bm25_data, mldk_query_bm25_data_1, mldk_query_data_1, mldk_query_data_2, mldk_query_fr_data_1, my_embeddings, my_model, my_model_1_PREDICTED_RESULTS, my_model_1_predicted_results, my_model_1_predicted_results_0, my_model_1_predicted_results_1, my_model_1_statistics, my_model_ts, news_query_data, pal_ann_data_test_tab, pal_ann_model_create_result_tbl, pal_ann_model_create_result_tbl1, pal_ann_model_delete_tbl, pal_ann_model_list_tbl, pal_ann_parameter_tbl, pal_ann_parameter_tbl1, pal_ann_pred_parameter_tbl, pal_ann_pred_parameter_tbl1, pal_ann_res, pal_ann_res1, pal_ann_res_g100_n20, pal_ann_res_new, pal_anns_sampling_tbl, pal_brownsmooth_data_tbl_brown_es_forecast_result, pal_cmatrix_tbl, pal_covid_data_tbl, pal_croston_data_tbl_croston_forecast_result, pal_croston_data_tbl_croston_tsb_forecast_result, pal_croston_data_tbl_lr_seasonal_adjust_forecast_result, pal_data_tbl, pal_doublesmooth_data_tbl_des_forecast_result, pal_dt_data, pal_dt_data_tbl, pal_dt_model_tbl, pal_embedding_demo, pal_forecasttriplesmoothing_data_tbl, pal_imp_tbl, pal_knn_res, pal_metrics_tbl, pal_model_rdt_tbl, pal_parameter_tab, pal_parameter_tbl, pal_partition_tbl, pal_pred_tab, pal_pred_tab1, pal_sample_embedding_vec_data_tab, pal_sample_embedding_vec_data_tab1, pal_singlesmooth_data_tbl_ses_forecast_result, pal_stat_tbl, pal_state_tbl, pal_text_emb_parameter_tbl, pal_text_emb_vec_result_tbl, pal_text_emb_vec_stat_tbl, pal_text_emb_vec_stat_tbl1, pal_tfidf_data_tab, pal_triplesmoothing_data_tbl_auto_es_forecast_result, pal_triplesmoothing_data_tbl_tes_forecast_result, pal_vec_data_tab_all, pima_indians_diabetes_tbl, pt_DATA_TBL, ru_DATA_TBL, sample_text_tab, sample_text_tab1, sap_1000_20, sap_100_20, sap_2000_20, sap_200_20, sap_3000_20, sap_300_20, sap_400_20, sap_500_20, sap_50_20, sap_600_20, sap_700_20, second_hana_vec_hana_ml_knowledge, shampoo_predict, shampoo_predict_result_tbl, shampoo_sales_data_tbl, shampoo_sales_data_tbl_id, shampoo_sales_predict_data_tbl, tab, text_splitter_data, text_tbl, th_DATA_TBL, titanic_full_tbl, vecpca_fit_scores_tbl_e1481784_9daa_11ef_9493_463500000031, vecpca_project_score_tbl_55ece27c_9dac_11ef_960c_463500000031, zh_DATA_TBL, zh_DATA_TBL_1There is a table named 'iris_data_full_tbl' which seems to be related to iris. Now, I need to check the schema of this table to get the column names.
Action: sql_db_schema
Action Input: "iris_data_full_tbl"
CREATE TABLE iris_data_full_tbl (
	id INTEGER,
	sepallengthcm DOUBLE,
	sepalwidthcm DOUBLE,
	petallengthcm DOUBLE,
	petalwidthcm DOUBLE,
	species NVARCHAR(5000)
)

/*
3 rows from iris_data_full_tbl table:
id	sepallengthcm	sepalwidthcm	petallengthcm	petalwidthcm	species
0	5.1	3.5	1.4	0.2	Iris-setosa
1	4.9	3.0	1.4	0.2	Iris-setosa
2	4.7	3.2	1.3	0.2	Iris-setosa
*/I now know the column names in the table related to iris.
Final Answer: The column names in the table related to iris are: id, sepallengthcm, sepalwidthcm, petallengthcm, petalwidthcm, species.

> Finished chain.

{'input': 'show me the column names in the table related to iris',
 'output': 'The column names in the table related to iris are: id, sepallengthcm, sepalwidthcm, petallengthcm, petalwidthcm, species.'}

In [9]:
agent_executor.invoke(
    "show me the min and max value of sepalwidthcm in the table iris_data_full_tbl "
)

> Entering new SQL Agent Executor chain...
I need to write a SQL query to get the min and max value of sepalwidthcm from the table iris_data_full_tbl. But first, I need to confirm that the table iris_data_full_tbl exists and sepalwidthcm is a valid column in that table.
Action: sql_db_list_tables
Action Input: ""11111111arima_model_88_predicted_results, CHUNKING_de_1000_0, CHUNKING_de_2000_0, CHUNKING_de_2000_0_5, CHUNKING_de_3000_0, CHUNKING_de_3000_0_5, CHUNKING_de_6000_0, CHUNKING_de_6000_0_5, CHUNKING_de_90000_0, CHUNKING_de_9000_0, CHUNKING_de_9000_0_5, CHUNKING_de_9000_20, CHUNKING_en_1000_0, CHUNKING_en_1000_20, CHUNKING_en_2000_0, CHUNKING_en_3000_0, CHUNKING_en_4000_20, CHUNKING_en_60000_0, CHUNKING_en_6000_0, CHUNKING_en_9000_0, CHUNKING_hi_90000_0, CHUNKING_ja_1000_0, CHUNKING_ja_1000_0_new, CHUNKING_ja_2000_0, CHUNKING_ja_2000_0_new, CHUNKING_ja_3000_0, CHUNKING_ja_3000_0_new, CHUNKING_ja_6000_0, CHUNKING_ja_6000_0_new, CHUNKING_ja_90000_0, CHUNKING_ja_9000_0, CHUNKING_ja_9000_0_new, CHUNKING_ru_6000_0, CHUNKING_th_6000_0, CHUNKING_zh_100000_0, CHUNKING_zh_1000_0, CHUNKING_zh_1000_0_new, CHUNKING_zh_2000_0, CHUNKING_zh_2000_0_new, CHUNKING_zh_3000_0, CHUNKING_zh_3000_0_new, CHUNKING_zh_60000_0, CHUNKING_zh_6000_0, CHUNKING_zh_6000_0_new, CHUNKING_zh_9000_0, CHUNKING_zh_9000_0_new, GARCH_TEST_MODEL_None_PREDICT_RESULT, HANAML_MY_AUTOML_MODEL_None_MODELS_0, HANAML_MY_AUTOML_MODEL_None_MODELS_1, Query_TBL, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_AutoExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_BrownExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_CrostonTSB_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_Croston_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_DoubleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_LRSeasonalAdjust_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_SingleExponentialSmoothing_STATS_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_FORECAST_RESULT, SHAMPOO_SALES_DATA_TBL_TripleExponentialSmoothing_STATS_RESULT, accuracy_measure_sim_data_tbl, amf_model_1_predicted_result, amf_test, amf_train, ar_DATA_TBL, autoarima_model_1_predicted_results, automl_model_1_predicted_results, automl_model_1_scored_results, bcpd_sim_data_tbl, bcpd_sim_data_tbl_bcpd_decomposed, boston_housing_prices, bsts_model_88_decomposed_and_reason_code, bsts_model_88_fit_decompose_tbl, changepoint_sim_data_tbl_bcpd_decomposed, chat_history, chunked_corpus, chunked_tbl, corpus, correlation_sim_data_tbl_correlation_result, data_uni_massive_class_tbl_notebook, de_DATA_TBL, de_DATA_TBL_1, demo_vector_table, dtw_query_sim_data_tbl, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_alignment, dtw_query_sim_data_tbl_dtw_ref_sim_data_tbl_dtw_result, dtw_ref_sim_data_tbl, dtw_sim_query_data_tbl_dtw_sim_ref_data_tbl_dtw_alignment, dtw_sim_query_data_tbldtw_sim_ref_data_tbl_dtw_alignment, dummy_table, emb_tbl_text, embedding_parameter_tbl, en_DATA_TBL, en_DATA_TBL_100, en_DATA_TBL_1000, en_DATA_TBL_10000, es_DATA_TBL, example_data_dr_reg, facts, fr_DATA_TBL, fr_data_tbl_category, garch_test_model_1_predict_result, hana_ai_cap_artifacts_knowledge_base, hana_ai_database_knowledge_base, hana_ai_prediction_knowledge_base, hana_ai_result_analysis_knowledge_base, hana_ai_scoring_knowledge_base, hana_ai_sql_knowledge_base, hana_ai_training_knowledge_base, hana_ai_ts_model_suggest_knowledge_base, hana_ml_docs, hana_ml_docs_splitted, hana_ml_docs_vec, hana_vec_hana_ml_knowledge, hana_vec_hana_ml_sql_knowledge, hanaml_11111111arima_model_88_models, hanaml_amf_model_1_models_0, hanaml_amf_model_1_models_1, hanaml_autoarima_model_1_models, hanaml_automl_model_2_models_0, hanaml_automl_model_2_models_1, hanaml_garch_simdata_model_1_models, hanaml_garch_test_model_1_models, hanaml_hanai_model_1_models, hanaml_model_storage, hanaml_my_automl_model_1_models_0, hanaml_my_automl_model_1_models_1, hanaml_my_automl_model_2_models_0, hanaml_my_automl_model_2_models_1, hanaml_my_automl_model_3_models_0, hanaml_my_automl_model_3_models_1, hanaml_my_automl_model_4_models_0, hanaml_my_automl_model_4_models_1, hanaml_my_automl_model_5_models_0, hanaml_my_automl_model_5_models_1, hanaml_my_automl_model_6_models_0, hanaml_my_automl_model_6_models_1, hanaml_my_model_1_models_0, hanaml_my_model_1_models_1, hanaml_mymodel_1_models_0, hanaml_mymodel_1_models_1, hdbscan_data, hi_DATA_TBL, intermittent_ts, iris_data_full_tbl, it_DATA_TBL, ja_DATA_TBL, keywords_tbl, ko_DATA_TBL, mldk_de_bm25_data, mldk_query_bm25_data_1, mldk_query_data_1, mldk_query_data_2, mldk_query_fr_data_1, my_embeddings, my_model, my_model_1_PREDICTED_RESULTS, my_model_1_predicted_results, my_model_1_predicted_results_0, my_model_1_predicted_results_1, my_model_1_statistics, my_model_ts, news_query_data, pal_ann_data_test_tab, pal_ann_model_create_result_tbl, pal_ann_model_create_result_tbl1, pal_ann_model_delete_tbl, pal_ann_model_list_tbl, pal_ann_parameter_tbl, pal_ann_parameter_tbl1, pal_ann_pred_parameter_tbl, pal_ann_pred_parameter_tbl1, pal_ann_res, pal_ann_res1, pal_ann_res_g100_n20, pal_ann_res_new, pal_anns_sampling_tbl, pal_brownsmooth_data_tbl_brown_es_forecast_result, pal_cmatrix_tbl, pal_covid_data_tbl, pal_croston_data_tbl_croston_forecast_result, pal_croston_data_tbl_croston_tsb_forecast_result, pal_croston_data_tbl_lr_seasonal_adjust_forecast_result, pal_data_tbl, pal_doublesmooth_data_tbl_des_forecast_result, pal_dt_data, pal_dt_data_tbl, pal_dt_model_tbl, pal_embedding_demo, pal_forecasttriplesmoothing_data_tbl, pal_imp_tbl, pal_knn_res, pal_metrics_tbl, pal_model_rdt_tbl, pal_parameter_tab, pal_parameter_tbl, pal_partition_tbl, pal_pred_tab, pal_pred_tab1, pal_sample_embedding_vec_data_tab, pal_sample_embedding_vec_data_tab1, pal_singlesmooth_data_tbl_ses_forecast_result, pal_stat_tbl, pal_state_tbl, pal_text_emb_parameter_tbl, pal_text_emb_vec_result_tbl, pal_text_emb_vec_stat_tbl, pal_text_emb_vec_stat_tbl1, pal_tfidf_data_tab, pal_triplesmoothing_data_tbl_auto_es_forecast_result, pal_triplesmoothing_data_tbl_tes_forecast_result, pal_vec_data_tab_all, pima_indians_diabetes_tbl, pt_DATA_TBL, ru_DATA_TBL, sample_text_tab, sample_text_tab1, sap_1000_20, sap_100_20, sap_2000_20, sap_200_20, sap_3000_20, sap_300_20, sap_400_20, sap_500_20, sap_50_20, sap_600_20, sap_700_20, second_hana_vec_hana_ml_knowledge, shampoo_predict, shampoo_predict_result_tbl, shampoo_sales_data_tbl, shampoo_sales_data_tbl_id, shampoo_sales_predict_data_tbl, tab, text_splitter_data, text_tbl, th_DATA_TBL, titanic_full_tbl, vecpca_fit_scores_tbl_e1481784_9daa_11ef_9493_463500000031, vecpca_project_score_tbl_55ece27c_9dac_11ef_960c_463500000031, zh_DATA_TBL, zh_DATA_TBL_1The table iris_data_full_tbl does exist in the database. Now I need to check the schema of the table to confirm if the column sepalwidthcm exists.
Action: sql_db_schema
Action Input: "iris_data_full_tbl"
CREATE TABLE iris_data_full_tbl (
	id INTEGER,
	sepallengthcm DOUBLE,
	sepalwidthcm DOUBLE,
	petallengthcm DOUBLE,
	petalwidthcm DOUBLE,
	species NVARCHAR(5000)
)

/*
3 rows from iris_data_full_tbl table:
id	sepallengthcm	sepalwidthcm	petallengthcm	petalwidthcm	species
0	5.1	3.5	1.4	0.2	Iris-setosa
1	4.9	3.0	1.4	0.2	Iris-setosa
2	4.7	3.2	1.3	0.2	Iris-setosa
*/The column sepalwidthcm does exist in the table iris_data_full_tbl. Now I can write a SQL query to get the min and max value of sepalwidthcm.
Action: sql_db_query_checker
Action Input: "SELECT MIN(sepalwidthcm), MAX(sepalwidthcm) FROM iris_data_full_tbl"SELECT MIN(sepalwidthcm), MAX(sepalwidthcm) FROM iris_data_full_tblThe SQL query is correct. Now I can execute it to get the min and max value of sepalwidthcm.
Action: sql_db_query
Action Input: "SELECT MIN(sepalwidthcm), MAX(sepalwidthcm) FROM iris_data_full_tbl"[(2.0, 4.4)]I now know the final answer
Final Answer: The minimum value of sepalwidthcm in the table iris_data_full_tbl is 2.0 and the maximum value is 4.4.

> Finished chain.

{'input': 'show me the min and max value of sepalwidthcm in the table iris_data_full_tbl ',
 'output': 'The minimum value of sepalwidthcm in the table iris_data_full_tbl is 2.0 and the maximum value is 4.4.'}